/*I learned that a class can be used on multiple elements but ID can only be used on one element and it overrides the class */
p {
     font-family: Arial;
   }
h1{
 color: maroon;
}
.title{
 color:teal;
}
.uppercase{
 text-transform:uppercase;
}
#article-title{
 font-family: cursive;
 text-transform: capitalize;
}
.publish-time{
 color:gray;
}
